@import url('colors.css');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

 body {
     background-color: var(--page-bg) !important;
 }


/* NAVBAR */
.navbar {
    padding: 10px 30px;
    transition: all 0.5s ease;


}

.navbar-brand img {
    height: 60px;
    width: auto;
}

.navbar .nav-item {
    font-size: 20px;
    font-family: var(--page-header-font) !important;
}

.navbar .nav-link {
    color: var(--heading-font-color);
}

.navbar .nav-link:hover {
    color: var(--navbar-hover-color);
    transition: all 0.5s ease;
}

.cart-icon {
    color: var(--heading-font-color);
}

.cart-icon:hover {
    color: var(--navbar-hover-color);
    transition: all 0.5s ease;
}

.navbar-nav {
    gap: 50px;
}

.navbar-transparent {
    background: transparent;
}

.navbar-scrolled {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-hidden {
    transform: translateY(-100%);
    transition: transform 0.5s ease;
}

.navbar-visible {
    transform: translateY(0);
    transition: transform 0.5s ease;
}

.cart-badge {
    font-size: 11px;
    background: rgb(219, 41, 41);
    color: white;
    border-radius: 51%;
    padding: 1px 6px;
    position: absolute;
    top: -8px;
    right: -10px;
}

/* Sidebar Cart */

/* Sidebar */
.cart-sidebar {
     width: 400px;
     height: 100vh;
     background: var(--page-bg) !important;
     position: fixed;
     top: 0;
     right: 0;
     transform: translateX(100%);
     transition: transform 0.4s ease;
     z-index: 1050;
     display: flex;
     flex-direction: column;
     box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
     font-family: var(--primary-font) !important;
}

.cart-sidebar.active {
    transform: translateX(0);
}

/* header */
.cart-header {
    padding: 1rem;
    background: var(--headers-bg) !important;
     color: var(--heading-font-color) !important;
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-family: var(--page-header-font) !important;
     border-bottom: 2px solid var(--mint);
}

.cart-header h5 {
    font-family: var(--page-header-font) !important;
    color: var(--heading-font-color);
    margin: 0;
    font-size: 1.5rem;

}

.cart-header .close-btn {
    background: transparent;
    border: none;
     padding: 1px 5px;
    color: var(--heading-font-color);
    font-size: 1.2rem;
    cursor: pointer;
}

/* body */
.cart-body {
    flex: 1;
    overflow-y: auto;
     padding: 2rem 1rem;
}

 /* item */
 .cart-item {
     display: flex;
     align-items: flex-start;
     margin-bottom: 1rem;
     gap: 0.5rem;
}

.cart-check {
     margin-top: 1.2rem;
}

.cart-img {
     width: 60x;
     height: 60px;
     border-radius: 8px;
     object-fit: cover;
     border: 2px solid var(--mint);
}

.item-info {
    flex: 1;
}

.item-info h6 {
    font-size: 0.95rem;
    margin-bottom: 0.3rem;
    font-weight: 600;
    color: var(--body-font-color) !important;
}

.qty-controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.btn-qty {
     width: 26px;
     height: 26px;
     border: 1px solid var(--yellow);
     border-radius: 6px;
     background: transparent;
     font-weight: bold;
     cursor: pointer;
     padding: 0;
}

.item-price {
    display: block;
    margin-top: 0.4rem;
    color: var(--heading-font-color);
}

.cart-branch {
    font-size: 0.75rem;
    font-weight: bold;
    color: #005F6B !important;
}

.btn-delete {
     background: transparent;
     border: none;
     color: var(--button3-color) !important;
     font-size: 1.1rem;
     cursor: pointer;
     transition: transform 0.2s;
}

.btn-delete:hover {
    transform: scale(1.2);
}

/* footer */
.cart-footer {
    padding: 1rem;
    background: var(--footer-bg) !important;
    border-top: 2px solid var(--mint);
}

.cart-footer .total {
     display: flex;
     justify-content: space-between;
     margin-bottom: 0.75rem;
     font-size: 1rem;
     font-weight: 600;
    color: var(--body-font-color) !important;
}

.checkout-btn {
     width: 100%;
     padding: 0.8rem;
     background: transparent;
     color: var(--button3-font-color);
     border: 3px solid var(--button1-color) !important;
     border-radius: 30px;
     font-weight: bold;
     cursor: pointer;
     transition: all 0.3s;
}

.checkout-btn:hover {
    background: var(--button1-color);
    color: var(--button2-font-color);
}

/* Scrollbar */
.cart-body::-webkit-scrollbar {
    width: 6px;
}

.cart-body::-webkit-scrollbar-thumb {
     background: var(--mint);
    border-radius: 10px;
}

 /* checklist */
 input[type="checkbox"] {
     appearance: none;
     -webkit-appearance: none;
     width: 18px;
     height: 18px;
     border: 1px solid var(--mint);
     border-radius: 4px;
     background: var(--white);
     cursor: pointer;
     position: relative;
     transition: all 0.2s ease;
     display: inline-block;
 }

input[type="checkbox"]:checked {
    background: var(--heading-font-color);
    border-color: var(--heading-font-color);
}

input[type="checkbox"]:checked::after {
     content: "";
     position: absolute;
     top: 2px;
     left: 6px;
     width: 4px;
     height: 9px;
     border: solid var(--white);
     border-width: 0 2px 2px 0;
     transform: rotate(45deg);
}

input[type="checkbox"]:hover {
     border-color: var(--mint);
     box-shadow: 0 0 4px rgba(148, 197, 123, 1);
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1040;
}

.overlay.active {
    display: block;
}

/* NAVBAR */


/* PRODUCTS PAGE */

/* header */
.product-page {
     background: var(--headers-bg) !important;
     position: relative;
     padding: 60px 16px 120px;
     overflow: hidden;
     font-family: var(--page-header-font) !important;
}

 .product-page .header-text {
     position: relative;
     z-index: 2;
     margin-top: 55px;
}

.product-page h1 {
     color: var(--heading-font-color);
     font-family: var(--page-header-font) !important;
     margin: 0;
     font-size: clamp(36px, 8vw, 200px);
     /* for responsiveness */
     text-align: center;
}

.product-page h2 {
     color: var(--body-font-color);
     font-size: clamp(18px, 2.2vw, 50px);
     text-align: center;
 }

 .breadcrumb {
     display: flex;
     gap: 5px;
     justify-content: center;
     font-size: 18px;
     color: var(--body-font-color);
 }

.breadcrumb a {
    text-decoration: none;
    color: var(--heading-font-color);
}

.breadcrumb a:hover {
    text-decoration: underline;
}

 .wave {
     position: absolute;
     left: 0;
     right: 0;
     bottom: -1px;
     width: 100%;
     height: 140px;
     display: block;
     z-index: 1;
 }

 /* responsive */
 @media (max-width: 767px) {
     .hero {
         padding-bottom: 90px;
         border-bottom-left-radius: 40px;
     }
 }

/* header */


/* BRANDING */
 #branding-section {
     font-family: var(--primary-font) !important;
 }

 .branding {
     display: flex;
     flex-direction: column;
     justify-content: start;
     align-items: center;
 }

 .branding i {
     font-weight: bold;
     font-size: 50px;
     color: var(--icon-color) !important;
 }

 .branding h2 {
     text-align: center;
     font-size: 30px;
     font-family: var(--page-header-font) !important;
     text-transform: uppercase;
     margin: 15px 0;
     color: var(--heading-font-color) !important;
 }

 .branding p {
     text-align: center;
     font-size: 15px;
     margin-top: auto;
     color: var(--body-font-color) !important;
 }

 /* BRANDING */


/* product section */
.product-section {
     min-height: 80vh;
     background-color: var(--page-bg);
     font-family: var(--primary-font) !important;


}

/* filter */
.filter-bar {
    padding: 12px 25px;
    border-bottom: 3px solid var(--green);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filter-label {
    font-weight: bold;
    margin-right: 15px;
    font-size: 0.95rem;
    color: var(--body-font-color);
    font-family: var(--primary-font) !important;
}

.filter-options {
    display: flex;
    gap: 25px;
    align-items: center;
}

.dropdown-toggle {
    border: none;
    background: transparent;
    font-weight: 500;
    font-size: 0.95rem;
    color: var(--body-font-color);
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var(--primary-font) !important;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    border-radius: 10px;
    border: 1px solid var(--ashgrey);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    background-color: var(--white);
}

.dropdown-item {
    font-size: 0.9rem;
    padding: 8px 15px;
    cursor: pointer;

}

.dropdown-item:hover {
    background-color: var(--navbar-hover-color) !important;
    color: #fff;
}

.product-count {
    font-weight: bold;
    font-size: 0.95rem;
    font-family: var(--primary-font) !important;
}

/* products */
.product-card {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    min-height: 44vh;

}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

.product-card img {
    width: 100%;
    height: 200px;           
    object-fit: cover;       
}

.product-card .card-body {
    align-items: center;
    display: flex;
    flex-direction: column;

}

.product-card .product-price {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--price-color) !important;
}

.admin-label{
      font-family: var(--primary-font) !important;
      font-size: 0.6rem;
      margin: 5px;
      font-size: 0.85rem;  
}

.card-title{
      font-family: var(--primary-font) !important;
}

/* buttons */
.btn-view {
     font-family: var(--primary-font) !important;
     width: 53%;
     border-radius: 20px;
     padding: 5px 20px;
     background-color: transparent;
     border: 2px solid var(--button1-color);
     font-weight: 500;
     color: var(--button1-font-color)!important;
     transition: ease-in-out 0.3s;
}

.btn-view:hover {
    transform: scale(1.05);
}


.cart-form-btn {
    width: 100%;
    text-align: center;         
    display: flex;
    justify-content: center;
}

.btn-add-to-cart{
    font-family: var(--primary-font) !important;
    color: var(--button2-font-color);
    background-color: var(--button1-color) !important;
    width: 53%;
    border-radius: 20px;
    padding: 5px 20px;
    border: none;
    font-weight: 500;
    text-align: center;     

}

.btn-add-to-cart:hover {
    transform: scale(1.05);
}

.product-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.product-modal .modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  position: relative;

  text-align: center;       
  display: flex;           
  flex-direction: column; 
  align-items: center;      
}

.product-modal .modal-content h2, p, button {
      font-family: var(--primary-font) !important;
}

.product-modal .close-customer-view {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

 /* PAGINATION */

 .pagination .page-item {
     margin: 0 5px;
 }

.pagination {
    justify-content: center;
    margin-top: 30px;
    font-family: var(--primary-font) !important;
}


 .pagination .page-link {
     border-radius: 25px;
     padding: 6px 13px;
     font-weight: 500;
     font-size: 0.95rem;
     border: 1px solid var(--page-number-active);
     color: var(--green);
     background-color: transparent;
     box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
     transition: all 0.3s ease;
 }

 .pagination .page-link:hover {
     transform: translateY(-2px);
     background-color: var(--page-number-hover);
     color: var(--white);
 }

 .pagination .active .page-link {
     background-color: var(--page-number-active);
     border-color: var(--page-number-active);
     color: var(--white);
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
 }

 .pagination .page-itemdisabled .page-link {
     color: var(--black);
     border-color: var(--black);
     background-color: transparent;
     box-shadow: none;
     cursor: not-allowed;
 }

/* PRODUCTS PAGE */



/* FAQ */
#faq {
    font-family: var(--primary-font) !important;
    padding-bottom: 50px;
}

 .faq-container {
     box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
     border-radius: 20px;
     background-color: var(--white);
     padding: 30px 50px;
     margin-top: 20px;
 }

  .faq-container h1,
 h4 {
     font-family: "Lilita One", sans-serif;
 }



.accordion-button {
    font-family: var(--primary-font) !important;
    background-color: var(--faq-button-bg) !important;
    color: var(--faq-question-font-color);
     font-weight: bold;
     border-radius: 10px;
     box-shadow: none;
     height: 8vh;
     font-size: 20px;
     outline: none;
    font-size: 22px;
}

 .accordion-button:focus,
 .accordion-button:active {
     background-color: var(--faq-button-bg);
     border: 2px solid var(--black);
     box-shadow: none;
     outline: none;
     color: var(--faq-question-font-color);
     border-bottom-right-radius: 0;
     border-bottom-left-radius: 0;
 }

 .accordion-button:not(.collapsed) {
     background-color: var(--faq-button-bg);
     border: 2px solid var(--black);
     box-shadow: none;
     color: var(--faq-question-font-color);
     border-bottom-right-radius: 0;
     border-bottom-left-radius: 0;
     color: var(--white);
 }

 .accordion-item {
     border: none;
     margin-bottom: 15px;
     background: transparent;
 }

 .accordion-body {
     background-color: var(--faq-answer-bg);
     border: 1px solid var(--black);
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
     padding: 15px;
     color: var(--faq-answer-font-color);
 }



 /* VINE SEPARATOR */
 .wave-transition1 {
     position: relative;
     width: 100%;
     height: 50px;
     line-height: 0;
     overflow: hidden;
 }

 .wave-transition1 svg {
     display: block;
     width: 100%;
     height: 100%;
 }

  .wave-transition2 {
     position: relative;
     width: 100%;
     height: 50px;
     line-height: 0;
     overflow: hidden;
      bottom: -50px;
 }

 .wave-transition2 svg {
     display: block;
     width: 100%;
     height: 100%;
 }


 .wave-transition3 {
     position: relative;
     top: -85px;
     width: 100%;
     height: 50px;
     line-height: 0;
     overflow: hidden;
 }

 .wave-transition3 svg {
     display: block;
     width: 100%;
     height: 100%;
 }




 /* VINE SEPARATOR */

/* FAQ CONTACT US */


 /* form */
 #inquiry {
     background-color: var(--wave-background) !important;
 }

 .inquiry-container {
     font-family: var(--primary-font) !important;
     padding: 30px 0;
 }

 .inquiry-container h1 {
     font-family: var(--page-header-font) !important;
     color: var(--white);
 }


 .inquiry-container h2 {
     font-size: 18px;
     font-weight: 500;
     text-align: left;
     color: var(--yellow);
 }


 .inquiry-container .form-control,
 .inquiry-container .form-select,
 .inquiry-container textarea {
     border: 2px solid var(--black);
     padding: 12px 15px;
     font-size: 14px;
 }

 .inquiry-container .form-control:focus,
 .inquiry-container .form-select:focus,
 textarea:focus {
     box-shadow: 2px 2px 5px var(--black);
     border: 1px solid var(--black);
 }


 .inquiry-container .btn-submit {
     background-color: var(--yellow);
     border: 2px solid var(--black);
     padding: 12px 35px;
     border-radius: 300px;
     color: var(--black);
     cursor: pointer;
     transition: 0.3s ease-in-out;
     display: block;
     margin: 20px auto 0 auto;
     font-family: var(--page-header-font) !important;
 }

 .inquiry-container .btn-submit:hover {
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 }


 .inquiry-container .input-group-text {
     background-color: #fff;
     border: 2px solid var(--black) !important;
     border-right: none;
 }

 .inquiry-container .input-group i {
     color: var(--black);
 }

 .inquiry-container .input-group .form-control,
 .inquiry-container .input-group .form-select {
     border-left: none;
 }

 /* contact logo */
 .inquiry-container .contact-logo {
     display: flex;
     justify-content: right;
 }

 .inquiry-container .contact-logo img {
     position: relative;
     width: 90%;
 }

 /* FAQ CONTACT US */

/* FAQ */


/* FEEDBACK PAGE */
.feedback-page {
  background-color: var(--white);
  text-align: center;
  padding: 50px 20px;
}

.message {
  font-family: var(--primary-font) !important;
  font-size: 1.2rem;
  color: var(--description-color);
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
}

.feedback-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto 30px auto;
}

.feedback-box {
  background-color: #fdf5e6;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.feedback-name {
  font-family: var(--primary-font) !important;
  font-weight: bold;
  font-size: 1rem;
  color: #333;
}

.feedback-stars {
  color: #f4c400; /* gold stars */
  font-size: 1.1rem;
}

.feedback-text {
  font-family: var(--primary-font) !important;
  font-size: 0.9rem;
  color: #444;
  line-height: 1.4;
}

.feedback-store{
  font-family: var(--primary-font) !important;
  font-size: 0.8rem;

}

.review-btn {
  font-family: var(--primary-font) !important;
  background-color: var(--button1-color) !important;
  color: var(--black);
  font-weight: bold;
  padding: 10px 25px;
  border: 2px solid #000;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.review-btn:hover {
  background-color: #241510;
}


/* REVIEW MODAL */
.review-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.review-modal-content {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  width: 90%;
  max-width: 450px;
  text-align: center;
  position: relative;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.review-modal-content h3 {
  font-family: var(--primary-font) !important;
  margin-bottom: 15px;
  color: var(--subtitle-font-color);
}

.review-modal-content form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.review-modal-content input,
.review-modal-content select,
.review-modal-content textarea {
  font-family: var(--primary-font) !important;
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
}

.review-modal-content textarea {
  resize: none;
  height: 100px;
}

.review-modal-content input:focus,
.review-modal-content select:focus,
.review-modal-content textarea:focus {
  border-color: var(--green);
}

.checkbox-row {
  display: flex;
  align-items: center;

}

.anonymous-label {
  font-family: var(--primary-font) !important;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  white-space: nowrap;
}

.star-rating {
  display: flex;
  align-items: center; 
  gap: 8px;
  font-size: 24px;      
  cursor: pointer;
  margin-bottom: 10px;

}

.star-rating-label {
  font-family: var(--primary-font) !important;
  font-size: 16px;
  color: #333;
  line-height: 1;      
  display: flex;      
  align-items: center;   
}

.star {
  color: #ccc;
  transition: color 0.2s;
}

.star.selected,
.star.hover {
  color: gold;
}

.submit-review {
  font-family: var(--primary-font) !important;
  background-color: var(--button1-color) !important;
  color: var(--black);
  padding: 10px;
  border-radius: 30px;
  border: 2px solid #000;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submit-review:hover {
  background-color: #e0b200;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}
/* FEEDBACK PAGE */












/* CONTACT US */

 /* form */
 .contact-container {
     font-family: var(--primary-font) !important;
     margin-top: 40px;
 }

  .contact-container h1 {
    font-family: var(--page-header-font) !important;
     color: var(--heading-font-color);
 }

 .contact-container h2 {
     font-family: var(--primary-font) !important;
     font-size: 18px;
     font-weight: 500;
     text-align: left;
 }

 .contact-container .form-control,
 .contact-container .form-select,
 .contact-container textarea {
     border: 1px solid var(--navbar-hover-color);
     padding: 12px 15px;
     font-size: 14px;
 }

 .contact-container .form-control:focus,
 .contact-container .form-select:focus,
 textarea:focus {
     box-shadow: 2px 2px 5px var(--navbar-hover-color);
     border: 1px solid var(--green);
 }

 .contact-container .btn-submit {
     background-color: var(--button1-color) !important;
     border: none;
     padding: 12px 35px;
     border-radius: 300px;
     color: var(--button2-font-color) !important;
     cursor: pointer;
     transition: 0.3s ease-in-out;
     display: block;
     margin: 20px auto 0 auto;
     font-family: var(--page-header-font) !important;
 }

 .btn-submit:hover {
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
     transform: scale(1.05);
 }


 .input-group-text {
     background-color: #fff;
     border: 1px solid var(--navbar-hover-color) !important;
     border-right: none;
 }

  .input-group i {
     color: var(--icon-color) !important;
 }

 .input-group .form-control,
 .input-group .form-select,
 .input-group textarea {
     border-left: none;
 }

 /* contact logo */
 .contact-logo {
     display: flex;
     justify-content: right;
 }

 .contact-logo img {
     position: relative;
     width: 90%;
 }



 /* STORE DETAILS */
 #store-details {
     min-height: 80vh;
     background-color: var(--wave-background) !important;
     position: relative;
 }

 .store-details h2 {
     font-family: var(--page-header-font) !important;
     text-align: center;
     color: var(--second-heading-font-color);
 }

 .carousel-inner {
     padding: 20px;
     background-color: #035f2e;
     border-radius: 20px;
 }

 .store-card {
     border-radius: 16px;
     overflow: hidden;
     background: var(--white);
     box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
     transition: transform 0.3s ease, box-shadow 0.3s ease;
     height: 100%;
     font-family: var(--primary-font) !important;
 }

 .store-card:hover {
     transform: translateY(-6px);
 }

 .card-header-bar {
     background: var(--yellow);
     padding: 1rem;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .card-header-bar i {
     font-size: 5rem;
     color: var(--black);
 }

 .card-body {
     padding: 1.2rem;
 }

 .store-name {
     font-weight: 700;
     color: var(--green);
     font-size: 1.2rem;
     margin-bottom: 0.8rem;
     text-align: center;
 }

 .store-info {
     font-size: 0.9rem;
     color: var(--black);
     margin: 0.3rem 0;
 }


 .carousel-control-prev,
 .carousel-control-next {
     width: 50px;
     height: 50px;
     top: 50%;
     transform: translateY(-50%);
     background-color: var(--white);
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     color: var(--black);
     font-size: 2rem;
     z-index: 10;
 }

 .carousel-control-prev {
     left: -60px;
 }

 .carousel-control-next {
     right: -60px;
 }

 .carousel-control-prev:hover,
 .carousel-control-next:hover {
     background-color: var(--white);
     color: var(--black);
 }

@media (max-width: 768px) {
  /* Hide all store cards inside carousel on mobile */
  .carousel-item .col-md-4 {
    display: none;
  }

  /* Show only the first one, full width */
  .carousel-item .col-md-4:first-child {
    display: block;
    width: 100%;
  }
}

 /* STORE DETAILS */


 /* LOCATION */
 .location h2 {
     font-family: var(--page-header-font) !important;
     text-align: center;
     color: var(--heading-font-color);

     margin-bottom: 2rem;
 }
.map-container {
     width: 100%;
     height: 500px;
     position: relative;
     border-radius: 0;
     overflow: hidden;
     box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
     margin-bottom: 50px;
}

.map-frame {
  position: relative;
  width: 100%;   /* iframe wrapper width */
  height: 500px; /* visible area */
  overflow: hidden;
}

.map-frame iframe {
     width: 100%;
     height: 100%;
     border: 0;
     position: absolute;
     top: 0;
     left: 0;
}


 /* LOCATION */

 /* CONTACT US */




/* FOOTER */
.footer-separator {
    width: 100%;
    height: 3px;
     background: linear-gradient(to right, #058240, #F3C301);
}


.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Logo */
.footer-logo img {
    max-width: 200px;
}

.small.mt-2{
    font-family: var(--primary-font) !important;
    color: var(--body-font-color);
    
}

/* Social icons */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: var(--icon-color);
}

.social-circle:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.contact-info .btn{
    font-family: var(--primary-font) !important;
}

/* Contact form */

.contact-form p{
    font-family: var(--primary-font) !important;
    color: var(--description-color);  
}
.contact-form input, 
.contact-form textarea,
.contact-form select {
    font-family: var(--primary-font) !important;
     box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
     margin-bottom: 8px;
     padding: 5px 10px;
     font-size: 13px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #133a19;
    outline: none;
    box-shadow: 0 0 6px rgba(19, 58, 25, 0.4);
}

.submit-btn {
    font-family: var(--page-header-font) !important;
    background-color: var(--button1-color) !important;
    color: var(--button2-font-color);
    border: none;
    border-radius: 25px;
    padding: 5px 18px;
    transition: 0.3s;
    display: block;
    margin: 0 auto;

}

.submit-btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Footer links */
.footer-links {
    text-align: left;
}

.footer-links a {
    font-family: var(--primary-font) !important;
    display: block;
    font-weight: 500;
    margin: 6px 0;
    text-decoration: none;
    color: var(--black);
    transition: color 0.3s;
}

.footer-links a:hover {
    transform: scale(1.01);
}

/* Contact info */
.contact-info {

    text-align: left;
}

 .contact-info p {
     margin: 6px 0;
     font-weight: 500;
     color: var(--black);
 }



/* Section titles */
.footer-title {
    font-family: var(--page-header-font) !important;
    color: var(--heading-font-color) !important;;
    font-size: 25px;
}

/* Footer bottom */
.footer-bottom {
    font-family: var(--primary-font) !important;
    font-size: 13px;
    width: 100%;
    margin-top: 20px;
    color: var(--black);
    border-top: 1px solid #005F6B;
    padding: 0.2rem 0.2rem;
    text-align: center;
}

.footer-bottom a,
.footer-bottom p {
    text-decoration: none;
    color: var(--black);
    margin: 0;
}

.footer-bottom a:hover {
    text-decoration: underline;
    color: var(--black);
}


.hours {
    display: flex;
    flex-direction: column;
    gap: 1px;
}




